<div class="container">
  <h1>Welcome#index</h1>
  <p id="index-title">Welcome to a practice app <%=current_user.email%></p>
  <div class="posts">Post UNO</div>
  <div class="posts">Post DOS</div>
  <section>Content in section</section>
</div>
